body {

}

.nav-bar {
    margin: 0;

    display: flex;
    justify-content: space-between;

    background-color: black;
}

.logo {
    width: 50%;
    height: auto;
}

.inner-content{
    background-image: url("images/homepage-background.png");
}

.nav-middle {

}

.nav-left {
    width: 25%;
}

.nav-right {
    width: 25%;

    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}