body {
    margin: 0;
}

.nav-bar {
    margin: 0;

    display: flex;
    justify-content: space-between;

    background-color: black;
}

.logo {
    width: 50%;
    margin: 8% auto;
    display: block;
}

.inner-content{
    background-image: url("images/homepage-background.png");
}

.nav-middle {
    border: 1px solid white;
}

.nav-left {
    width: 25%;
    border: 1px solid white;
}

.hamburger-div, .newsletter-div {
}

.newsletter {
    color: white;
    text-decoration: none;
    margin: auto;
    
    display: inline-block;
}

.nav-right {
    width: 25%;
    
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

.hamburger {
    display: inline-block;
    position: relative;
    width: 45%;
}